
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #333;
}


header {
    text-align: center;
    background: #0078ff;
    color: white;
    padding: 40px 10px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}


main {
    width: 80%;
    margin: auto;
}

section {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #0078ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #0057b3;
}

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
}

@media (max-width: 768px) {
    main {
        width: 95%;
    }

    header {
        padding: 20px;
    }
}
